#three-canvas {
    width: 500px;
    height: 500px;
}
#three-canvas2 {
    width: 500px;
    height: 500px;
}
#three-canvas3 {
    width: 500px;
    height: 500px;
}
#three-canvas4 {
    width: 500px;
    height: 500px;
}
.divbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*****************************
    修正
*****************************/

body {
    margin: 0;
    padding: 0;
    background-color: #101010;
    font-family: Arial, sans-serif;
}

.model-viewer > * {
    margin: 0;
    padding: 0;
}

.font-color {
    color: #fff;
}
.model-viewer {
    padding-top: 80px;
}
.model-viewer__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
}

.model-viewer__inner {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

.model-viewer__section-title {
    text-align: center;
}

.model-viewer__conteiner {
    display: flex;
    gap: 80px;
    max-width: 1280px;
    justify-content: center;
}

@media screen and (max-width: 749px) {    
    .model-viewer__conteiner {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
}

.model-viewer__canvas {
    height: 500px;
    width: 500px;
}

